@import url(https://fonts.googleapis.com/css?family=Domine:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}
/* default color */
:root {
  --font--primary: sans-serif;
  --font--secondary: Fira Sans;
  --font--heading: Domine;
  --font--texts: Bitter;
  --font--logo: "Times New Roman", Times, serif;
  --text--dark: #131513;
  --text--light: #383e3a;
  --bg--light: #9bd9d4;
  --bg--dark: #2dabd5;
  --btn--light: #6597c7;
  --btn--dark: #0481b4;
  --shadow: #bacec1;
}
/* text font style  */
.navbar__logo__link{
  font-family: var(--font--logo);
}
.navbar__menu__item__link h1,
.navbar__action__search
{
  font-family: var(--font--secondary);
}
.post__user__name{
  font-family: var(--font--heading);
  font-weight: 700;
  font-size: 20px;
}
.post__detail__date{
  font-family: var(--font--texts);
  font-weight: 700;
  font-size: 18px;
}
.post__detail__heading{
  font-family: var(--font--heading);
  font-weight: 700;
  font-size: 28px;
}
/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: var(--bg--dark);
}
.navbar__bars {
  display: none;
}
.navbar__action.active{
  display: none;
}
/* logo design  */
.navbar__logo{
  position: relative;
}
.navbar__logo__link{
  font-size: 50px;
  font-weight: 700;
  color: var(--text--light);
}
.navbar__logo__link:hover {
  color: var(--text--dark);
}
/* menu design  */
.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__menu__item__link {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-inline-end: 10px;
  transform: skew(-10deg) translateX(3px);
  -webkit-transform: skew(-10deg) translateX(3px);
  -moz-transform: skew(-10deg) translateX(3px);
  -ms-transform: skew(-10deg) translateX(3px);
  -o-transform: skew(-10deg);
  box-shadow: 4px 4px 10px -0.5px var(--shadow);
  position: relative;
}
.navbar__menu__item__link:hover{
  box-shadow: 4px 4px 9px 1px var(--shadow);
}
/* submenu  */
.submenu {
  position: absolute;
  background-color:var(--bg--dark);
  display: none;
}
.submenu__item__link{
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar__menu__item__link,
  .navbar__menu__item__link h1,
  .submenu__item__link{
    background-color: var(--bg--light);
    color: var(--text--light);
  }
  .navbar__menu__item__link:hover,
  .navbar__menu__item__link i:hover,
  .navbar__menu__item__link h1:hover,
  .submenu__item__link:hover {
    color: var(--text--dark);
  }
  .navbar__menu__item:hover 
  .submenu,
  .navbar__menu__item:hover 
  .submenu:hover{
    display: block;
  }

  /* search  */
.navbar__action{
  border: 2px var(--bg--light) solid;
}
.navbar__action__search{
  background-color: var(--bg--dark);
  padding: 10px;
  cursor: text;
  color: var(--text--dark);
  font-size: 20px;
}
.navbar__action__btn{
  border-left: 2px var(--bg--light) solid;
  background-color: var(--bg--dark);
  padding: 20px;
  cursor: pointer;
}
/* navbar bar  */
.navbar__bars{
  height: 60px;
  width: 50px;
  display:none;
  position: absolute;
}
.navbar__bar{
  background-color: #fff;
  height: 4px;
  width: 100%;
  display: block;
  margin-top: 8px;
}
.navbar__bar:first-child{
  margin-top: 17px;
}
@media (max-width:1150px){
  .navbar__action{
    display: none;
  }
  .navbar__action.active{
    display: inline-block;
  }
  .navbar{
    flex-direction: column;
    gap: 20px;
  }
  .navbar__logo__link{
    padding-inline-end: 50px;
  }
}
@media (max-width:700px){
  .navbar__logo{
    display: inline-block;
  }
  .navbar__logo__link{
    padding-inline-end: 10vw;
  }
  .navbar__action.active{
    display: block;
    margin-top: 20px;
  }
  .navbar__bars{
    display: inline-block;
  }
  .navbar__menu{
    display: none;
  }
  .navbar__menu.active{
    display: flex;
  }
}
@media (max-width:600px){
  .navbar__action__search{
    width: 180px;
  }
  .navbar__menu.active{
    flex-direction: column;
  }
  .navbar__menu__item__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2px;
  }
  .navbar__menu__item__link i{
    
    padding-right: 12px;
    display: inline-block;
  }

}

/* home section  */
.home{
  display: flex;
  padding-inline: 50px;
}
.container{
  width: 65%;
  background-color: var(--bg--dark);
}
.sidebar{
  width: 35%;
  padding-inline-start: 30px;
  padding-block-start: 30px;
  background-color: var(--bg--light);
}
/* post design  */
.post__user{
  display: flex;
  align-items: flex-end;
}
.post__user__logo img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post__user__name{
  display: inline-block;
  padding-inline-start: 10px;
  padding-block-end: 20px;
}
.post__img{
  float: left;
  display: inline-flex;
  justify-content: center;
  height: 300px;
}
.posts{
  display: flex;
  align-items: flex-end;
}
.post__detail__date{
  color: var(--text--light);
}